* {
    box-sizing: border-box;
}
body {
    background: rgb(231, 231, 231) !important;
    padding: 0;
    margin: 0;
}
:root {
    --light-gray: rgb(210, 210, 210);
    --gray: rgb(173, 173, 173);
    --dark-gray: rgb(145, 145, 145);
}
#clock {
    background: white;
    position: relative;
    margin: auto;
    bottom: -170px;
    width: 350px;
    height: 260px;
    padding: 10px 0;
    text-align: center;
    font-family: "Microsoft Sans Serif";
    color: var(--dark-gray);
    font-size: 25px;
    border-radius: 10px;
    box-shadow: 1px 5px 5px 5px var(--dark-gray);
}
#logo {
    font-family: 'Brush Script Std';
    font-weight: bold;
    position: relative;
    background: -webkit-linear-gradient(70deg, var(--gray) 45%, rgb(231, 231, 231) 47%, var(--gray) 55%, var(--gray) 75%);
    -webkit-background-clip: text;
    background-clip: none;
    -webkit-text-fill-color: transparent;
    font-size: 23px;
    z-index: 5;
}
#line {
    position: absolute;
    top: 43px;
    width: 99%;
    height: 1px;
    margin: 0 1px;
    box-shadow: 1px 1px 1px 1px var(--light-gray);
}
#break {
    position: absolute;
    width: 50%;
    font-size: 17px;
    top: 50px;
}
#session {
    position: absolute;
    left: 50%;
    width: 50%;
    font-size: 17px;
    top: 50px;
}
#break-length, #session-length {
    position: relative;
    top: 5px;
    background: whitesmoke;
    width: 45px;
    height: 25px;
    font-family: "Graduate";
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 0px var(--light-gray);
}
.plus-minus {
    display: inline-flex;
}
.plus-minus button {
    position: relative;
    top: 0px;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    margin: 5px;    
    box-shadow: 0px 1px 3px 0px var(--gray);
}
#playing {
    position: relative;
    top: 75px;
}
#timer-label, #time-left {
    border-radius: 3px;
    box-shadow: 0px 1px 2px 0px var(--light-gray);
}
#timer-label {
    background: whitesmoke;
    width: 170px;
    margin: auto;
    height: 35px;
    padding-top: 3px;
}
#time-left {
    background: whitesmoke;
    width: 150px;
    margin: auto;
    height: 45px;
    font-family: "Graduate";
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    padding-top: 5px;
}
#playing button {
    border: none;
    position: relative;
    width: 60px;
    height: 35px;
    margin: 10px;
    padding-left: 7px;
    border-radius: 20px;
    box-shadow: 0px 2px 3px 1px var(--gray);
}

button:hover {
    background: rgb(228, 228, 228);
}
button:active {
    top: 2px;
}

footer {
    color: var(--dark-gray);
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    bottom: -200px;
}
#gmail {
    color: gray;
    cursor: pointer;
}
#gmail:hover {
    color: rgb(97, 97, 97);
}
